<h2>Friend's Club Chat Room</h2>
<hr>
<div class="row" id="chat" style="overflow-y: auto;height:330px; margin: 0px 0px 30px 45px;">
    <%= render @messages %>
</div>
<%= simple_form_for(@message , remote: true,style: 'margin-top: 30px;')  do |f| %>
    <%= f.error_notification %>
	<div class="input-group">	
		<input name="message[body]" type="text" id="inputText" placeholder="Add to the conversation" class="form-control input-large" required >
		<span id="send" class="input-group-addon" style="cursor: pointer;" onClick="if($('#inputText').val()) $('#new_message').submit();">Post</span>
	</div>
<% end %>
<script>

	$(document).ready(function(){
		$('#chat').scrollTop($('#chat').height());
	});

	 socket.emit("join_group");
	 socket.on('group_message',function(data){
	 	data = JSON.parse(data);
	 	var align = '',user_id = <%= current_user.id %>;
	 	if(user_id == data.user_id){
			$("#inputText").val('');
			align = 'float-right';
	 	}
	 	$("#chat").append("<div class='col-sm-10' > <div class='row'> <div class='col-xs-2 image "+align+"' > <a href='javascript:void(0);'> <img title='"+ data.user_name+"' class='img-thumbnail img-responsive img-circle ' src='http://api.randomuser.me/portraits/women/22.jpg'  style='width:70px;'> </a> </div> <div class='col-xs-10 '> <div class='panel panel-default'> <div class='panel-body'> "+ data.content+"<br> <span class='label label-info'>"+ data.created_at+"</span> </div> </div> </div> </div> </div>");
		$('#chat').scrollTop($('#chat').height());
	 	
	 });
	 window.onbeforeunload = function() { socket.emit("leave_group"); };
</script>
