<p id="notice"><%= notice %></p>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3><%= @blog.title %></h3>
      <p style='bottom: 10px;float: right; margin-right: 20px;position: relative; '>
        Posted By: <%= @blog.user.fullname %>
      </p>
    </div>
    <div class="panel-body">
      <%= @blog.desc %>
    </div>
     <div class="panel-footer">
      <% if user_signed_in? && current_user == @blog.user %>
        <%= link_to 'Edit', edit_blog_path(@blog) %> |
      <% end %>  
        <%= link_to "Back", :back %>
    </div>
  </div>





<% if false %>
<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @blog.desc %>
</p>

<p>
  <strong>Url:</strong>
  <%= @blog.url %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @blog.tags %>
</p>

<p>
  <strong>Category:</strong>
  <%= @blog.category %>
</p>

<p>
  <strong>Sub type:</strong>
  <%= @blog.sub_type %>
</p>


<% end %>