<div>
	<div class="col-sm-3">	
	<div style="margin-top:30px;">
		<img class='img-thumbnail img-rounded'src="https://dl.dropboxusercontent.com/1/view/c4n2dy7hbbn0npu/Apps/my_photo_share/DSC_0162_normal.JPG" style="width:200px;">
	</div>
		
	</div>
	<div class="col-sm-9">
		<h1>Hi , My name is Sourav Kumar</h1>
<hr/>
<h3>About Me</h3>
<p>
	I am a passionate Rubyist and an active member of the Ruby on Rails source community. When I am not coding or writing i am enjoys Playing cricket ,fun with friends (sometimes at the same time). I also like to visit new place and making new friends.
</p>
<p>
	I've experience of 1 years and 4 months. I have good experience with HTML5/CSS3, HAML, SASS, Javascript, jQuery, AJAX, Mysql, Ruby 1.9.x and 2.x, Rails (3.x, 4), rspec, Git, svn, JIRA,Trello, Facebook API, Bootstrap, coffeescript, Social Media integration, AWS S3, AngularJS.
</p>


<h3> Contact info :</h3>
<div>
	<span>
		E-mail:
	</span> 
	<span>
		<%= mail_to "souravbhadani94@gmail.com"%>
			
	</span>
</div>
<div>
	<span>
		Twitter:
	</span> 
	<span>
		<%= link_to '@sourav_bhadani',"https://twitter.com/sourav_bhadani",title:"Twitter Handel"%> 
	</span>
</div>
<div>
	<span>
		Github:
	</span> 
	<span>
		<%= link_to 'github.com/souravbhadani',"https://github.com/souravbhadani",title:"Github Profile"%> 	
	</span>
</div>
<div>
	<span>
		LinkedIn:
	</span> 
	<span>
		<%= link_to 'in.linkedin.com/in/souravbhadani',"https://in.linkedin.com/in/souravbhadani",title:"LinkedIn Profile"%> 	
		
	</span>
</div>
<div>
	<span>
		Mobile:
	</span> 
	<span>
		+918750902613
	</span>
</div>

	</div>
</div>