
<div class="jumbotron center">
        <h1>Welcome to My Pintereseted App !</h1>
        <p>Preety Cool , Don't you think</p>
        <%= link_to "Login" , root_path , :class=>"btn btn-default" %>
         <%= link_to "Join" , root_path , :class=>"btn btn-primary" %>
        
</div>