
    <div class="wrapper">
      <header class="text-center">
        <h1>Tic Tac Toe</h1>
        <p class="lead">Defeat your friends and show no mercy</p>
      </header>

      <div id="board"></div>
      <div class="alerts welcome"></div>
      <div class="notifications"></div>

      <form action="" method="POST">
        <div class="input-group">
          <div class="input-group-addon">Player 1</div>
          <input name="pl-1" class="form-control" type="text" value=""/>
        </div>
        <div class="input-group">
          <div class="input-group-addon">Player 2</div>
          <input name="pl-2" class="form-control" type="text" value=""/>
        </div>
        <div class="text-center">
          <input type="submit" class="btn btn-lg btn-primary" value="Start"/>
        </div>
      </form>
    </div>


