<h1>Listing prettylinks</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
     
    </tr>
  </thead>

  <tbody>
    <% @prettylinks.each do |prettylink| %>
      <tr>
        <td><%= link_to  prettylink.title,prettylink.url,target: '_blank',title: prettylink.title %></td>
       </tr>
    <% end %>
    
  </tbody>
</table>
