<div class='cl-md-9'>
	<div class='row margin-top-40'>
		<div class='cl-sm-6 cl-md-6 pull-left'>
			<div class='row'>
				<div class='cl-md-12 margin-bot-40'>
					<%= link_to 'PLAYER',"#",:class=>'button button-primary button-rounded button-jumbo' %>
				</div>
			</div>
		</div>
		<div class='cl-sm-6 cl-md-6 pull-right'>
			<div class='row'>
				<div class='cl-md-12 margin-bot-40'>
					<%= link_to 'DEALER',"#",:class=>'button button-royal button-rounded button-jumbo' %>
				</div>
			</div>
		</div>
	</div>
	<center>
      <%= link_to 'Deal', play_path,:class=> 'button button-3d button-action button-pill' %>
    </center>
</div>

