<div class="row margin-top-40">
	<div class="cl-sm-12 cl-md-12">
		<div class="cl-sm-12 cl-md-12">
			<center>
				<%= link_to 'Player Wins!',"#",:class=>'button button-glow button-rounded button-caution margin-right-20' %>
			</center>
		</div>
	</div>
	<div class="cl-sm-12 cl-md-12 margin-top-40">
		<center>
			<%= link_to 'DEAL AGAIN',"#",:class=>'button button-royal button-rounded button-jumbo margin-right-20' %>
			<%= link_to 'STATISTICS',"#",:class=>'button button-royal button-rounded button-jumbo' %>
		</center>
	</div>
</div>