<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>-->
    <link href='http://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
    <title>Tic-Tac-Toe</title>
<style>
    * {
  font-family: 'Chewy', cursive;
    }
    
    body {
      margin: 2em;
    }
    
    .wrapper{
      width: 700px;
      margin: 0 auto;
    }
    
    .alerts {
      color: #31708f;
      background-color: #d9edf7;
      border-color: #bce8f1;
      font-size: 1.75em;
      margin-bottom: 0.7em;
      border-radius: 5px;
      max-width: 250px;
      width: 35%;
      padding: 0.5em;
      text-align: center;
      float: left;
    }
    
    .welcome{
      float: none;
      width: 55%;
      margin:15px auto;
      max-width: 400px;
    }
    
    #board {
      max-width: 600px;
      width: 60%;
      float: left;
    }
    
    .square {
      width: 30%;
      height: 120px;
      background-color: cornsilk;
      border: 1px groove crimson;
      cursor: pointer;
      float: left;
      font-size: 68px;
      text-align: center;
    }
    
    .square:nth-of-type(3n + 1) {
      clear: both;
    }
    
    .square.x {
      color: crimson;
    }
    
    .square.o {
      color: #3997ff;
    }
    
    .notifications {
      max-width: 250px;
      width: 35%;
      padding: 1em;
      text-align: center;
      background-color: beige;
      float: left;
    }
    
    .notifications p {
      color: #7f7f7e;
      font-size: 1.2em;
    }
    
    .alerts, .notifications {
      display: none;
    }
    
    form {
      clear: both;
      width: 400px;
      margin: 0 auto;
      max-width: 500px;
    }
    
    .input-group{
      width: 100%;
      margin-bottom: 5px;
    }
    
    .input-group-addon{
      width: 75px;
    }
    
    form div:last-of-type {
      margin-top: 10px;
    }
    
    a.play-again {
      font-size: 1.5em;
      cursor: pointer;
    }
    
    
    </style>
     <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
     <!--   <%# javascript_include_tag "application" %>-->
    <<!--d>-->
    <<!-->#=--#
        <%= render "home/header" %>    
        <%= yield %>
       #=#=
    </body>
</html>